### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.vs
*.pdb
*.cache

### Mac OS ###
.DS_Store

*.idea
__pycache__/

IndentationDecorator.cpp
IndentationDecorator.hpp

.~lock.*
/semester_3/windows_net/Crossword/appsettings.json
/semester_3/windows_net/Crossword/obj/
/semester_3/db/lab2/logistikos_centras/logistikos_centras/appsettings.json
/semester_3/db/lab2/logistikos_centras/logistikos_centras/bin/
/semester_3/db/lab2/logistikos_centras/logistikos_centras/obj/